//========================================================================================================================================================
.test {
  // .test__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: 2;
      filter: brightness(0.5);
      @include adaptiveValue('padding-right', 15, -16, 0, 1440, 1024);
      @include adaptiveValue('padding-left', 15, -16, 0, 1440, 1024);
    }
  }
  // .test__body
  &__body {
  }
}
.body-test {
  text-align: center;
  // position: relative;
  @include adaptiveValue("max-width", 380, 370, 0, 1024, 768);
  @include adaptiveValue('min-height', 650, 500, 0, 1024, 768);

  @include adaptiveValue('padding-top', 164, 40);
  padding-bottom: rem(40);
  z-index: 3;
  // .body-test__title
  &__title {
    color: #fff;
    &:not(:last-child) {
      margin-bottom: rem(21);
    }
  }
  // .body-test__text
  &__text {
    color: #fff;
    line-height: 162.5%; /* 26/16 */
    &:not(:last-child) {
      margin-bottom: rem(32);
    }

  }
  // .body-test__button
  &__button {
  }
}
