//========================================================================================================================================================
.get {
  // .get__container
  &__container {
    padding-top: rem(70);
    padding-bottom: rem(70);
    display: grid;
    justify-items: center;
    gap: rem(50);
  }
  // .get__title
  &__title {
  }
  // .get__items
  &__items {
    width: 100%;
    display: grid;
    @include adaptiveValue('gap', 29, 16, 2, 1024, 360);
    @media (min-width: $pc) {
      grid-template-columns: repeat(auto-fill, minmax(rem(370), 1fr));
    }
    @media (max-width: $pc) {
      grid-template-columns: repeat(auto-fill, minmax(rem(282), 1fr));
    }
    @media (max-width: em(360)) {
      gap: rem(20);
    }
  }
  // .get__item
  &__item {
    padding: rem(20);
    background-color: #fff;
  }
  // .get__button
  &__button {
    &.hidden {
      display: none;
    }
  }
}
.item-body {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: box-shadow 0.3s;
@media (any-hover: hover){
  &:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
  // .item-body__image
  &__image {
    position: relative;
    width: rem(70);
    height: rem(70);
    border-radius: 50%;
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  // .item-body__name
  &__name {
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
  // .item-body__position
  &__position {
    cursor: pointer;
  }
  // .item-body__email
  &__email {
    cursor: pointer;
  }
  // .item-body__phone
  &__phone {
    // cursor: pointer;
  }
  &__tooltip {
    top: 0;
    left: 0;
    position: absolute;
    background: #000;
    color: #fff;
    padding: rem(6) rem(16);
    border-radius: rem(4);
    z-index: 5;
  }
}
