// Text Clipping ========================================================================================================================================================
%textClipping {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
//========================================================================================================================================================
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: rem(8) rem(20);
  min-width: rem(100);
  background: $BackgroundButtonNormal;
  border-radius: rem(80);
  transition: all 0.3s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      background: $BackgroundButtonHover;
    }
  }
  &._disabled {
    background: $BackgroundButtonDisabled;
    pointer-events: none;
    color: $BackgroundColor;
  }
}
//========================================================================================================================================================
.title {
  text-align: center;
  font-size: rem(40);
  line-height: 100%; /* 40/40 */
}
//========================================================================================================================================================
.text {
  @extend %textClipping;
  line-height: 162.5%; /* 26/16 */
}
// Preloader animation ========================================================================================================================================================
.preloader {
  animation: 1s linear 0s normal none infinite running rotation;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//========================================================================================================================================================
