@use 'sass:math';

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import 'base/mixins';

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap
@import url('https://fonts.googleapis.com/css?family=Nunito:regular&display=swap');

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Nunito';
$fontSize: rem(16);

// Основні кольори
$mainColor: rgb(0, 0, 0); // Колір шрифту за замовчуванням
$SecondaryColor: rgb(0, 189, 211);
$BackgroundColor: rgb(248, 248, 248);
$BackgroundButtonNormal: rgb(244, 224, 65);
$BackgroundButtonHover: rgb(255, 227, 2);
$BackgroundButtonDisabled: rgb(180, 180, 180);
$ColorError: rgb(203, 61, 64);

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 2560;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1168;
// Загальний відступ у контейнера
$containerPadding: 32;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S
// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'base/null';

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
}

// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }
  // Притискаємо footer
  > main {
    flex: 1 1 auto;
    background: $BackgroundColor;
  }
  // Фікс для слайдерів
  > * {
    min-width: 0;
  }
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================
// Чуйна
[class*='__container'] {
  @if ($maxWidthContainer>0) {
    max-width: rem($containerWidth);
    margin: 0 auto;
  }
  @if ($containerPadding>0) {
    @if ($maxWidthContainer>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    } @else {
      @include adaptiveValue('padding-left', math.div($containerPadding, 2), 15);
      @include adaptiveValue('padding-right', math.div($containerPadding, 2), 15);
    }
  }
}

//========================================================================================================================================================

@import './global';
@import './components/header';
@import './components/footer';
@import './components/form';

@import './pages/main';
@import './pages/register';
@import './pages/users';
